<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".utilities.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.AddPatientActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectPatientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.SelectClinicFragment"
            android:exported="false" />
        <activity
            android:name=".activities.RemoteActivity"
            android:exported="true" />
        <activity
            android:name=".activities.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorLookupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HealthFacilityInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ZalopayPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentInformationActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MethodPaymentSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DateSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DepartmentSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".activities.HealthFacilitySelectionActivity"
            android:exported="true" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SelectItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FindHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScheduleLookupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.CallActivity"
            android:exported="false" />
    </application>

</manifest>